@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.logo {
    display: block;
    width: 270px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.formulario {
    width: 400px;
    background-color: rgb(14, 14, 14);
    border-radius: 20px;
    padding: 35px;
}

.formulario h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #ffffff;
}

.boxFormulario {
    position: relative;
    margin-bottom: 20px;
}

.boxFormulario input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    font-size: 16px;
    padding: 0 20px;
}

.BoxFormulario input::placeholder {
    color: #ffffff;
}

.boxFormulario i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;
    color: #ffffff;
}

.boxLembrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 15px;
}

.boxLembrar label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.boxLembrar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.boxLembrar a:hover {
    text-decoration: underline;
}

.boxLembrar label {
    color: #ffffff;
}

.boxLembrar label input {
    accent-color: #87d877;
}

.formulario button {
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to right, #87d877, #ffffff, #87d877); 
    transition: background-position 0.5s ease, transform 0.3s;
    background-size: 200% 100%; 
    background-position: left;  
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
}

.formulario button:hover {
     background-position: right; 
  transform: scale(1.02);     
}

.linkRegistro {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.linkRegistro a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.linkRegistro p {
    color: #ffffff;
}

.linkRegistro a:hover {
    text-decoration: underline;
}

